body{
    background-color: green;
}

#hand-table {
    font-size: 1em;
}
#hand-table > tbody > tr > td {
    padding: 0 5px 0 0;
}
#hand-table > tbody > tr > th {
    padding: 0 0 0 5px;
}

.card-group-row {
    padding-top: 20px;
}

.cards {
    background-color: white;
    height: 200px;
}

.stand-row {
    padding-top: 10px;
}

.game-actions-row {
    padding-top:20px;
}

#current-bet {
    height: 75px;
    font-size: 2em;
}

#start-game-btn {
    margin: 20px auto;
}

#add-funds-btn {
    margin: 20px auto;
}

#chip-total {
    font-size: 2em;
}

.card-row > div {
    padding: 0;
    height: auto;
}

.card-row > div > img {
    width: 100%;
}

#add-funds {
    margin-bottom: 5%;
    margin-top: 15%;
}

#add-funds-button {
    margin-bottom: 0;
}

#volume-control {
    margin-top: 5%;
}

pre-div {
    text-align: center;
}

pre-div pre {
    display: inline-block;
    text-align: left;
}

button.close {
    background-color: transparent;
    border: 0;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

#hand-value {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
